@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
}


body {
    margin:auto;
    font: 12px "Avenir Next LT Pro";
}
header, footer {
    display:block;
}

hr {
   color:#5D5D5D;
   height:1px;
}

header {
    position: relative;
    height:182px;
    background:url(../img/top.jpg);
}

#wrapper_body {
    margin:auto;
    width:950px;
}

#logo_sendero {
    position:absolute;
    left:0;
    top:0;
    margin:0;
    width:286px;
    background: url(../img/logo-cabecera.png) no-repeat ;
    height:187px;
    overflow:hidden;
    text-indent: -9999px;
}

#body {
    
    
}

footer {
    height:164px;
    background:url("../img/footer2.png") no-repeat;
    margin-top: -10px;
    position: relative;
    padding: 10px 10px 0;
}


footer p {
    margin:50px 0 0 180px;
}


#caminante {
    position: absolute;
    bottom:0;
    left:0;
}

.odd {
    background:#262626;
}

.novedad img {
    width:910px;
    height:470px;
    padding:20px;
}

.even {
    background:#E3E3E5;
}

.odd h1,p {
    color:#A9A49A;
    margin:0px 0px 0px 20px;  
    font-size:25pt;
}

.odd h1 {
    text-transform:uppercase;
    border-bottom:1px solid #A9A49A;
    width:70%;
    
}
.odd p {
    width:90%;
    font-size:12pt;
}

