@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local("../fonts/AvenirNextLTPro-Regular.otf");
}

body {
    margin:auto;
    width:-moz-max-content;
}

hr {
   color:#5D5D5D;
   height:1px;
}

h1 {
    font-size: 25px;
}

header, section{
    display:block;
}

#wrapper_body {
    margin:auto;
    
}

#header {
    height:182px;
    background:url(/media/img/top.jpg);
}

.leftCol {
    float: left;
    width:-moz-min-content;
    
}

.rightCol {
    float: left;
    width:-moz-min-content;
}

#logo_sendero {
    float:left;
    width:286px;
    background: url(/media/img/logo-cabecera.png) no-repeat ;
    height:187px;
    overflow:visible;
}

#logo_mountain {

    width:100%;
    height:130px;
}

.menu {
    height: 50px;
    

}

.menu li {
    list-style-type: none;
    float: left;
    font-size: 15px;
    margin-top:-10px;
    padding-top: 12px;
    padding-left:14px;
    padding-right:14px;
    padding-bottom:10px;
}


.menu li:hover {
    background:#F29400;
}

.menu li a {
    text-decoration: none;
    color: #FEFEFE;
    display: block  !importnat;
    position: relative;
    width: 20px !importnat;
    
}

.menu li a:hover {
    color: #F29400;
}

.menu ul li ul span {
    /*background: url('img/flecha.png');*/
    margin: -20px 50px;
    width: 20px;
    height: 10px;
    position: absolute;
}

.menu ul li ul {
    display: none; 
    background: #000 ;
    position: absolute;
    text-transform:none;
    font-weight:normal;
    color:#FEFEFE;
    width:83px;
    text-align:left;
    margin-top:15px;
    margin-left:-13px;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul li {
    display: block;
    position: relative;
    color: #FEFEFE;
    line-height:5px;
    margin-left:-41px;
    width:124px;
    padding:0px;
    
}

.menu ul li ul li a{
    color: #FEFEFE;
    text-transform:none;
    font-size:13px;
    font-weight:normal;
    width:100px;
}

.menu ul li ul li:hover {
    background:#646466;
    
}

#menu_i {
float: left;
}


#menu_d{
float: right;
}

.menu li a:hover {
    color: #FEFEFE;
} 




#barra_superior {
    float:right;
    padding:10px;

}

.menu_superior {
    float: left;
    color: #AAA6A7;
    font-size:12px;
    padding:10px;
    padding-top:20px;
}

#body {
    background:#7F7F7F;
}

#footer {
    background:#7F7F7F;

}

#logo_footer {
    height:215px;
    margin-left:2px;
    margin-top:-50px;
}

#zonas {
    background-color:white;
    background:url(../img/mapa/fondomapa.jpg) no-repeat;
    background-position:bottom;
    height:auto; 
    width:-moz-min-content;
    margin-left:2px;
    
}

#zonas h3 {
    font-family:'Arial', sans-serif;
    font-size:10pt;
    margin-left:16px;
    color:#404040;
    margin-top:3px;
    border-bottom:1px solid #404040;
    padding-bottom:5px;
    width:315px;
}

#zonas p {
    width:330px;
    font-family:'Verdana', sans-serif;
    font-weight: normal;
    font-size:8pt;
    margin-left:16px;
    margin-top:-8px;
    color:#404040;
    padding-bottom:20px;
}



.region {
    padding-left:60px;
    
}

.region div {
    overflow:hidden;
    margin:0px;
    padding:0px;
}


#centro {
    background:url(../img/mapa/centro.png) no-repeat;
    height:67px;
    width:42px;
    margin:-98px 0px 0px 161px;
}

#buenosaires {
    background:url(../img/mapa/buenosaires.png) no-repeat;
    height:92px;
    width:65px;
    margin:-14px 0px 0px 184px;
}

#patagonia {
    background:url(../img/mapa/patagonia.png) no-repeat;
    height:237px;
    width:123px;
    margin:-73px 0px 0px 104px;
}

#cuyo {
    background:url(../img/mapa/cuyo.png) no-repeat;
    height:117px;
    width:59px;
    margin:-29px 0px 0px 113px;
}

#norte {
    background:url(../img/mapa/norte.png) no-repeat;
    height:101px;
    width:123px;
    margin:8px 0px 0px 125px;    
}

#litoral {
    background:url(../img/mapa/litoral.png) no-repeat;
    height:142px;
    width:104px;
    margin:-149px 0px 0px 186px;    
}

#main {
    padding:10px;
    padding-bottom:0px;
}

#logo_zonas {
    background: url(/media/img/zonas.jpg) no-repeat;
    height:62px;
    width:376px;
}

#secondary {
    padding:10px;
    padding-top:0px;
}

#last_exc {
    height:241px;
    background:#39465B;
    width:-moz-max-content;
    width:632px;
}

#last_exc article {
    background: #262626;
    width: -moz-min-content;
    color:#F0F0F0;

}

#news {
    height:400px;
    background:white;
    width:-moz-min-content;
    margin-left:11px;
 }

#logo_news {
    background:url(/media/img/novedades.jpg) no-repeat;
    height:62px;
    width:300px;
}

#logo_lastexc {
    background:url(/media/img/ultimas-excursiones.jpg) no-repeat;
    height:62px;
    text-indent: -9999px;
    margin:0;
}

.clear {
    clear:both;
}

#publicity {
    background:#7F7F7F;
    padding:10px;

    
}

#logo_publicity {
    height:100px;
    width:940px;
    overflow:hidden;
}

.botonera {
    color:black;
    margin-bottom:-24px;
    margin-left: 455px;
    margin-top:5px;
    float:right;
}

.botonera span {
    width:14px;
    height:13px;
    text-align:center;
    font-size:6pt;
    background-color: white;
    padding-top:2px;
    float:left;
    margin-left:5px;
    margin-right:5px;
}

.botonera span:hover {
    width:14px;
    height:13px;
    text-align:center;
    font-size:6pt;
    background-color: #F4AA00;
    padding-top:2px;
    float:left;
    margin-left:5px;
    margin-right:5px;
    color:white;
}




#news_exc {
    color: #FFF;
    background:#262626;
    height:541px;
    margin-left:11px;
    width:554px;
}

#news_exc h1 {
    font-family:'Arial', sans-serif;
    text-transform: uppercase;
    margin-top:5px;
    margin-left:6px;
    border-bottom:1px solid #999;
    width:380px;
    font-size:19pt;
    padding-bottom:11px;

}

#news_exc img {
    padding:5px;
}

#news_exc article {
    padding:4px;
}

#news_exc h3 {
    font-family:'Verdana', bold, sans-serif;
    font-weight: normal;
    font-size:11pt;
    text-transform: uppercase;
    margin-top:0px;
    margin-left:4px;
}

#news_exc p {
    width:auto;
    font-family:'Arial', sans-serif;
    font-weight: normal;
    font-size:9pt;
    margin-left:4px;
    margin-top:-8px;
}

#news_exc .field_title {
    font-family:'Arial', sans-serif;
    font-weight: bold;
    font-size:10pt;

}


#ref_gig {
    height:150px;
    background-color:#344E5F;
    margin-bottom:9px;
}

.last_exc_thumb {
    width:-moz-min-content;
    float:left;
    text-align:left;
    padding-top:7px;
    padding-left:7px;
    padding-bottom:7px;
    
}

#last_exc img {
    padding:5px;
    display: block;
    height:100px;
    width:295px;
}


#last_exc h3 {
    font-family: 'Avenir Next LT Pro', 'Arial',serif;
    font-weight: bolder;
    font-size:12px;
    text-transform: uppercase;
    margin-left:6px;
    margin-bottom:0px;

}

#last_exc p {
   font-family: 'Avenir Next LT Pro', 'Arial',serif;
   font-size:10pt;
   margin-left:6px;
   margin-top:0px;
   padding-bottom:5px;

}

#news img {
    display:block;
    height:100px;
    width:100px;
    padding:5px;
    border:none;
}

#news h3 {
    font-family: 'Arial',serif;
    font-weight: normal;
    font-size:13px;
    margin-top:5px;
    width:150px;

}


#news p {
    font-family: 'Arial',serif;
    font-weight: normal;
    font-size:11px;
    width:150px;
    margin:0px;
}

#news a {
    font-family: 'Arial',serif;
    font-weight: normal;
    font-size:11px;
    color:#FA9600;
}

.odd {
    background-color:#FFF;
    height:112px;
    padding: 0px;
}

.even {
    background-color:#E2E2E2;
    height:112px;
    padding: 0px;
}

#news ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


#logo-cimbling {
    background: url(../img/logo-cimbling.jpg) no-repeat;
    height:199px;
    width:950px;
    margin-left:2px;
}

#logo-educationtravel {
    background: url(../img/logo-educationtravel.jpg) no-repeat;
    height:199px;
    width:950px;
    margin-left:2px;
}

#body-cimbling {
    width:950px;
    
}

#body-cimbling .leftCol {
    padding:0px;
    width: -moz-max-content;
    
}

#body-cimbling .rightCol {
    width:-moz-min-content;
    text-align:left;
    padding:0px;
    margin-top:30px;
    color:#5F5F5F;
    margin-right:40px;
}


#body-cimbling img {
    width:175px;
    height:175px;
    padding:10px;
}

#body-cimbling article {
    text-align:center;

}   

#body-cimbling .content-cimbling {
    background:url(../img/fondogris-viajeseduc.jpg) no-repeat ;
    height:495px;
}

#body-cimbling h1 {
    font-family: 'Avenir Next LT Pro', 'Arial',serif;
    font-weight: normal;
    font-size:40px;
    text-transform: uppercase;
    border-bottom:1px solid #999;
}

#body-cimbling p {
    font-family: 'Arial',serif;
    font-weight: normal;
    font-size:11px;
}

#body-cimbling span {
    font-family: 'Arial',serif;
    font-weight: normal;
    text-transform:uppercase;
    font-size:12px;
    color:#FF4000;
}

#body-cimbling h3 {
    font-family: 'Arial',serif;
    font-weight: normal;
    text-transform:uppercase;
    font-size:14px;
    color:#FF4000;
    margin:0px;
}


#desc-educationtravel {
    margin-left:10px;
    text-align:left;
    font-family: 'Arial',serif;
    font-size: 10px;
}

#menu a:link{
    text-decoration:none;
    color:#FFFEFF;
}

#menu a:hover{text-decoration:none;}

#menu a:visited{text-decoration:none;
                color:#FFFEFF;}

#logo-customizedtours {
    background: url(../img/logo-customizedtours.jpg) no-repeat;
    height:199px;
    width:auto;
    margin-left:2px;
}

#body-recomendations {
    width:950px;
    color:#555;

}
#body-recomendations img {
    padding:60px 50px 50px 50px;
    height:100px;
}

#logo-recomendations {
    background: url(../img/logo-recomendations.jpg) no-repeat;
    height:199px;
    width:auto;
    margin-left:2px;
}

#body-recomendations .content-recomendations {
    background:url(../img/fondogris-viajeseduc.jpg) no-repeat ;
    height:495px;
}

#body-recomendations h1 {
    font-family: 'Avenir Next LT Pro', 'Arial',serif;
    font-weight: normal;
    font-size:22pt;
    text-transform: uppercase;
    border-bottom:1px solid;
    width:500px;
    
}

#body-recomendations p {
    font-family: 'Arial',serif;
    font-weight: normal;
    font-size:12px;
    width:600px;
}

#body-recomendations .leftCol {
    padding:50px 40px 20px 20px;;
}

.curved {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  behavior:url(border-radius.htc);
}

.incoming_one {
    display:block;

}

.incoming_two {
    display:none;
}

.incoming_three {
    display:none;
}



