@font-face {
    font-family: 'Avenir Next LT Pro';
    src: local("../fonts/AvenirNextLTPro-Regular.otf");
}

body {
    margin:auto;
    font: 12px Arial, Helvetica, sans-serif;
}
section, article, aside, nav, {
    display:block;
}
hr {
   color:#5D5D5D;
   height:1px;
}

h1 {
    font-size: 30px;
}

#header {
    position: relative;
    height:182px;
    background:url(/media/img/top.jpg);
    display:block;
}

#nav{
    clear:right;
    float:right;
    margin: 68px 22px 0;
    padding:0;
    overflow:hidden;
    list-style:none;
}
#nav li {
    float:left;
}

#nav a {
    display:block;
    font-size: 15px;
    padding: 1em 1.5em;
    color:#FEFEFE;
    text-decoration: none;
    position: relative;

}
#nav a:hover {
    background:#F29400;
}



#nav li:hover {
    background:#F29400;
}


#nav span {
    background: url('img/flecha.png');
    border-right: 1px solid #FEFEFE;
    width: 20px;
    height: 1em;
    right: 1px;
    position: absolute;
}

#nav li ul {
    display: none; 
    background: #000 ;
    position: absolute;
    padding:0;
    z-index:999;
}

#nav li:hover ul {
    display: block;
}

#nav li ul li {
    display: block;
    float:none;
    position: relative;
    color: #FEFEFE;
    line-height:5px;
    margin:0;
    padding:0px;
    
}

#nav li ul li a{
    color: #FEFEFE;
    text-transform:none;
    font-size:13px;
    font-weight:normal;
    width:100px;
}


#wrapper_body {
    margin:auto;
    width:950px;
}

#logo_sendero {
    position:absolute;
    left:0;
    top:0;
    margin:0;
    width:286px;
    background: url(/media/img/logo-cabecera.png) no-repeat ;
    height:187px;
    overflow:hidden;
    text-indent: -9999px;
}

#barra_superior {
    float:right;
    padding:10px;
    list-style: none;
    margin: 0;
}
#barra_superior a {
    color: #FFF;
    text-decoration:none;
}

#body {
    background:#7F7F7F;
}

#body h1 {
    font-family:'Avenir Next LT Pro', 'Arial', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin:0 -10px;
    padding: 0.5em;
    color: #FFF;
}

#footer a {
    text-decoration:none;
    color:black;
    font-size:14px;
}

#footer span {
    border-right: 1px solid black;
    height: 5px;
    padding:15px;
    
}

#footer p {
    width:500px;
    font-size:10px;
    text-align:center;
    margin-left:90px;
    padding-left:90px;
    margin-top:60px;
    padding-top:20px;
}

#footer {
    overflow:hidden;
    height:215px;
    background:url("/media/img/footerycaminante.png") no-repeat;
    text-align:center;
    margin-top:-55px;

}

#footer ul {
    list-style:none;
    padding-top:45px;
    margin-top:46px;
    padding-left:70px;
    margin-left:80px;
}

#footer ul li {
    float:left;
    padding:15px;
}


#zonas {
    background: #FFF url(../img/mapa/fondomapa.jpg) repeat-x;
    background-position:center bottom;
    padding: 0 10px;
    width: 350px;
    margin:7px;
    height:549px;
}

#zonas h1 {
    background: #F29400;
}


#centro {
    background:url(../img/mapa/centro.png) no-repeat;
    height:67px;
    width:42px;
    margin:-98px 0px 0px 161px;
}

#buenosaires {
    background:url(../img/mapa/buenosaires.png) no-repeat;
    height:92px;
    width:65px;
    margin:-14px 0px 0px 184px;
}

#patagonia {
    background:url(../img/mapa/patagonia.png) no-repeat;
    height:237px;
    width:123px;
    margin:-73px 0px 0px 104px;
}

#cuyo {
    background:url(../img/mapa/cuyo.png) no-repeat;
    height:117px;
    width:59px;
    margin:-29px 0px 0px 113px;
}

#norte {
    background:url(../img/mapa/norte.png) no-repeat;
    height:101px;
    width:123px;
    margin:8px 0px 0px 125px;    
}

#norte-over {
    background:url(../img/mapa/norte-over.png) no-repeat;
    display:none;
}

#centro-over {
    background:url(../img/mapa/norte-over.png) no-repeat;
    display:none;
    height:54px;
}

#litoral {
    background:url(../img/mapa/litoral.png) no-repeat;
    height:142px;
    width:104px;
    margin:-149px 0px 0px 186px;    
}

#main {
    padding:10px;
}

#logo_zonas {
    background: url(/media/img/zonas.jpg) no-repeat;
    height:62px;
    width:376px;
}

#last_exc {
    height:242px;
    background:#39465B;
    width:630px;
    margin:7px 0px 7px 7px;
}

#last_exc article {
    background: #262626;
    color:#F0F0F0;
    float:left;
    width:48%;
    margin-left:8px;
    height:167px;
    
}

#news {
    height:399px;
    background:white;
    margin:0px 7px 0px 0px;
    width:300px;
    
}

h1#logo_news {
    background:#121212;
    height:35px;
    margin:auto;
    width:auto;
}

h1#logo_lastexc {
    background:url(/media/img/ultimas-excursiones.jpg) no-repeat;
    height:62px;
    text-indent: -9999px;
    margin:0px;
    padding:0px;
}

#news_exc h4 {
    margin:0px 0px 10px 5px;
}

#news_exc h4 a {
    text-decoration:none;
    color:#F29400;
}

h3#logo_lastexc {
    background:url(/media/img/ultimas-excursiones.jpg) no-repeat;
    height:62px;
    text-indent: -9999px;
    margin:0;
    padding:0;
}

#publicity {
    margin-left:10px;
    width:930px;
    background:url("/media/img/ultimas-excursiones.jpg") no-repeat; 
    height:65px;
    padding-bottom:10px;
}

#news_exc {
    color: #FFF;
    background:#262626;
    height:530px;
    width:539px;
    overflow:hidden;
    margin:7px 7px 0px 0px;
    
    
}


#news_exc img {
    padding:0px;
    width:539px;
    height:350px;
    border:0px;
    
}

#news_exc article {


}
#news_exc .description{
    margin-top:5em;
}

#header-new-exc {
    position: absolute;
    text-decoration:none;
    margin-top:355px;
    width:525px;
}

#main, #secondary {
    margin:0px;
    padding:0px;
        
}

#secondary .leftCol,
#secondary .rightCol {
    padding: 0;
}
#ref_gig {
    background-color:#344E5F;
    height:150px;
    margin:0px 0px 0px 7px;
}

#last_exc img {
    padding:5px;
    display: block;
    width:290px;
    height:100px;
}

#news img {
    height:100px;
    width:100px;
    background: url(../img/no-image.jpg);
}

h3 {
    font-size:18px;
    
}


#thumbs_last_exc p,h3{
    margin:5px 0px 0px 4px;
}

#thumbs_last_exc {
    padding:2px;
    padding-top:4px;
}

#news a {
    font-family: 'Arial',serif;
    font-weight: normal;
    font-size:11px;
    color:#FA9600;
}

#news ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.pictures article{
    float:left;
    margin: 10px;
}
.pictures img {
    float:left;
    margin-right:10px;
}
#logo-cimbling {
    margin:auto
    
}

#logo-cimbling img {
    display:none;
    width:950px;
    height:200px;
}

#logo-etravel {
    margin:auto;
}

#logo-etravel img {
    height:200px;
    display:none;
    width:950px;
    height:200px;
}

#logo-ctravel {
    margin:auto;
}

#logo-ctravel img {
    height:200px;
    display:none;
    width:950px;
    height:200px;
}

#desc-educationtravel {
    margin-left:10px;
    text-align:left;
    font-family: 'Arial',serif;
    font-size: 10px;
}

#menu a:link{
    text-decoration:none;
    color:#FFFEFF;
}

#menu a:visited{text-decoration:none;
                color:#FFFEFF;
                }


#dialog {
    width:550px;
    height:500px;
}

.curved {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  behavior:url(border-radius.htc);
}

.leftCol {
    float: left;
    padding: 10px;
}

.rightCol {
    float: right;
    padding: 10px;
}


.menu_superior {
    float: left;
    color: #AAA6A7;
    font-size:12px;
    padding:10px;
    padding-top:20px;
}

.botonera {
    color:black;
    margin-top:25px;
    float:right;
}

.botonera a {
    width:13px;
    height:13px;
    text-align:center;
    font-size:7pt;
    background-color: white;
    float:left;
    margin-left:5px;
    text-decoration:none;
    padding:2px;
}

.botonera a:hover {
    background-color: #F4AA00;
}

.odd {
    background-color:#FFF;
    height:112px;
    padding: 0px;
}

.even {
    background-color:#E2E2E2;
    height:112px;
    padding: 0px;
}

.clear {
    clear:both;
}

.mapa {
    padding-left:50px;
}

.tab {
    width:25%;
    height:30px;
    float:left;
    text-decoration:none;
    background-position:bottom;
}

.content-tab {
    height:450px;
    background:url(../img/fondogris-viajeseduc.jpg) no-repeat;
    background-position:bottom;
    padding:20px;
}

#button-tab-norte {
    background-color:#F29300;
    background-position:bottom;
}
#button-tab-norte:hover {
    height:50px;
    margin-top:-20px;
}
#button-tab-centro {
    background-color:#48912A;
}
#button-tab-centro:hover {
    height:40px;
    margin-top:-10px;
}
#button-tab-patagonia {
    background-color:#0069B2;
}
#button-tab-patagonia:hover {
    height:40px;
    margin-top:-10px;
}
#button-tab-cuyo {
    background-color:#BC121F;
}
#button-tab-cuyo:hover {
    height:40px;
    margin-top:-10px;
}

#tab-norte {
    display:block;
}

#tab-centro {
    display:none;
}

#tab-litoral {
    display:none;
}

#tab-cuyo {
    display:none;
}

#tab-patagonia {
    display:none;
}

.article {
    margin:0px;
    width:50%;
    position:relative;
    float:left
}

.article a img {
    width:100px;
    height:100px;
    border:0px;
    margin:0px;
}

.article a {
    text-decoration:none;
}

.article h5 {
    font-family:"Avenir Next LT Pro",sans-serif;
    font-size:11px;
    text-transform:uppercase;
    margin:0px;
}

.article span {
    margin:0px;
}

.content-tab h2 {
    padding:0px;
    color:#5F5F5F;
}

.content-tab p {
    padding:0px;
    color:#5F5F5F;
}


.desc-region {
    float:left;
    text-align:left;
    width:25%;
}

.thumbs-exc {
    float:left;   
    text-align:left;
    width:65%;
    padding:50px 20px 20px 40px;
}

#logo-excurtions {
    margin:auto;
    
}
#logo-excurtions img {
    height:200px;
    display:none;
    width:950px;
    height:200px;
    border:0px;

}

#tabs {
    margin:auto;
    text-align:center;
}

#tabs a {
    padding:10px 0px 0px 0px;
    margin:auto;
    text-align:center;
}

form .leftCol,#recomendations .leftCol {
    padding:0px;
    width:50%;
}


#id_nombre {
    margin:5px 5px 5px 0px;
}

#id_apellido {
    margin:5px 5px 5px 0px;
}

#id_email {
    margin:5px 5px 5px 0px;
}

#id_nombre_excursion {
    margin:5px 5px 5px 0px;
}

#id_comentario {
    margin:5px 5px 5px 0px;
}


#id_fecha {
    margin:5px 5px 5px 0px;
}

#button-enviar {
    float:right;
    margin:15px 150px 0px 0px;
    background-color:#F5A700;
    border:0px;
}

#body form p {
    margin:0px;
    color:#43A8C6;
}

#body form h1 {
    color:#A2A2A2;
    text-align:left;
    padding:8px;
    border-bottom:2px solid #A2A2A2;
    width:50%;
}

#logo-recomendations {
    background:url(../img/logo-recomendations.jpg) no-repeat ;    
    height:200px;
}

#recomendations .leftCol img {
    margin:40px 20px 50px 145px;
}

#recomendations h1 {
    color:#A2A2A2;
    font-size:26px;
    margin:35px 0px 0px 0px;
    width:100%;

    text-align:left;
}

#recomendations p {
    width:100%;
    margin:0px 0px 0px 15px;
}


#recomendations {
    padding:20px;
}
