/*
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
}
*/

body {
    margin:auto;
    font: 12px Helvetica, sans-serif;
    width:960px;
    
    height:1200px;
}

header, footer, aside, nav, article, section {
    display:block;
}
a img {
    border:0;
    padding:4px;
}
hr {
   color:#5D5D5D;
   height:1px;
}

.logos {
    height:40px;
    width:40px;
}

.cajalogored {
    float:left;
    padding:5px;
}

#logosredes {
    float:right;
    list-style:none;
    margin:-5px 38px 0px 585px;

}

h1, h2 {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
}

h1 {
    font-size: 30px;
}

header {
    position: relative;
    height:184px;
    background:url(../img/top.jpg);
    display:block;
}

#nav {
    list-style:none;
    position:absolute;
    top:119px;
    left:247px;
}

#nav li {
    float:left;
}

#nav a {
    display:block;
    font-size:11pt;
    padding: 1.2em 1.4em;
    color:#FFF;
    text-decoration: none;
    position: relative;
    font-family:"Avenir Next LT Pro", sans-serif;
}

#nav a:hover {
    background:#F29400;
}

#nav li:hover {
    background:#F29400;
    height:30px;

}

#nav span {
    background: url('../img/flecha.png');
    border-right: 1px solid #FEFEFE;
    height: 1em;
    margin: 3px 1px 0px 20px;
    position: absolute;
}

#nav li ul {
    display: none; 
    background: #000 ;
    position: absolute;
    padding:0;
    z-index:999;
}

#nav li:hover ul {

    display: block;
}

#nav li ul li {
    display: block;
    float:none;
    position: relative;
    color: #FEFEFE;
    line-height:5px;
    margin:0;
    padding:0px;
    
}

#logo_sendero {
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
}
#logo_sendero a {
    margin:0;
    display:block;
    width:286px;
    background: url(/media/img/logo-cabecera.png) no-repeat ;
    height:187px;
    overflow:hidden;
    text-indent: -9999px;

}

#barra_superior {
    float:right;
    padding:10px;
    list-style: none;
    margin: 0 22px;
}
#barra_superior a {
    color: #C6C7C8;
    text-decoration:none;
}

footer {
    height:160px;
    background:url("/media/img/footer2.png") no-repeat;
    position: relative;
    padding: 13px 0px 0px;
    bottom:0px;
}

footer ul {
    list-style:none;
    position:absolute;
    top:58px;
    left:191px;
}

footer li {
    display:inline;
    padding:0 10px;
    border-right: 1px solid #333;
}

li.first {
    padding-left:0;
}

li.last {
  border-right: 0;
}

footer li a {
    text-decoration:none;
    color:black;
    font-size:14px;
}

footer p {
    position:absolute;
    left:285px;
    bottom:15px;
}

#caminante {
    position: absolute;
    bottom:0;
    left:0;
}

/* CAJA CON MAPA */

#zonas {
    background: #FFF url(../img/mapa/fondomapa.jpg) repeat-x;
    background-position:center bottom;
    width: 300px;
    margin:10px 10px 0px 10px;
}

#zonas h2 {
    color:#FFF;
    background:#F29400;
    margin:0px;
    padding:10px;   
    font-size:18px;
    height:30px;
  
}

#zonas h3 {
    color:#4B4D4D;
    font-size:12pt;
}

#zonas p {
    color:#4B4D4D;
}

#mapa {
    list-style: none;
    position: relative;
    padding: 0;
    height: 370px;
    width: 200px;
    margin: 15px 0px 0px 9px;
}
#mapa li {
    position: absolute;
}
#mapa a{
    display: none;
}
#mapa li:hover {
    cursor: pointer;
}
#mapa li:hover a {
    display:block;
    float:left;
    width: 120px;
    margin: 15px -130px;
    background: #FC0;
    color: #FFF;
    padding: 5px;
    text-decoration: none;  
    font-size:20px;
}
#mapa li:hover span {
    display: block;
    border-top: 1px solid #FFF;
    margin: 0 -5px -5px;
    padding: 5px;
    font-size: 12px;
}

/* estilos de regiones */

#norte {
    background:url(../img/mapa/norte.png) no-repeat;
    height:101px;
    width:123px;
    top:0;
    left:21px;
    z-index :100;
}
#norte a {
    background: #F29300 !important;
}
#cuyo {
    background:url(../img/mapa/cuyo.png) no-repeat;
    height:117px;
    width:59px;
    top:72px;
    left: 9px;
    z-index :102;
}
#cuyo a {
    background: #BC121F !important;
}
#centro {
    background:url(../img/mapa/centro.png) no-repeat;
    height:67px;
    width:42px;
    top:91px;
    left:57px;
    z-index :110;
}
#centro a {
    background: #48912A !important;
}
#litoral {
    background:url(../img/mapa/litoral.png) no-repeat;
    height:142px;
    width:104px;
    top:10px;
    left: 82px; 
    z-index :103;       
}
#litoral a {
    background: #93CCE5 !important;
}
#patagonia {
    background:url(../img/mapa/patagonia.png) no-repeat;
    height:237px;
    width:123px;
    top:156px;
    left:0;
    z-index :105;
}
#patagonia:hover a {
    background: #0069B2 !important;
}
#buenosaires {
    background:url(../img/mapa/buenosaires.png) no-repeat;
    height:92px;
    width:65px;
    top:138px;
    left: 80px;
    z-index :106;
}

#buenosaires:hover a {
    background: #99999A !important;
}

#box {
    float:left;
}

#news {
    background:white;
    height:196px;
    width:300px;
    margin:0px 10px 0px 10px
}

h1#logo_news {
    background:url(../img/novedades.jpg) repeat-y;
    height:59px;
    width:auto;
    margin:10px 0px 0px 0px
}

h1#logo_lastexc {
    background:url(/media/img/ultimas-excursiones.jpg) no-repeat;
    text-indent: -9999px;
        height:62px;
    margin:0px;
}

#news_exc h4 a {
    text-decoration:none;
    color:#F29400;
}

#news_exc {
    color: #FFF;
    background:#262626;
    height:365px;
    margin:10px 10px 0px 0px;
}

#news_exc img {
    width:607px;
    height:300px;
    border:0px;
    margin:10px;
    padding:0px;
}

#header-new-exc {
    text-decoration:none;
    text-align:right;
    width:215px;
    float:left;
    margin:10px 0px 0px 0px;
}

#title_next_exc {
    margin:0px 0px 0px 10px;
    font-size:22pt;
    width:380px;
    float:left;
}

#ref_gig {
    background-color:#344E5F;
    margin:5px 5px 5px 0px; 
    width:310px;
    height:160px;
    float:left;
    font-size: 16pt;
    text-align:center;
}


#ref_gig a img {
    width:300px;
    height:150px;
}

#ref_gig h2 {
  padding:10px;  
}

#news img {
    height:100px;
}

h3 {
    font-size:18px;
    
}

#news a {

    font-family:"Avenir Next LT Pro", sans-serif;
    color:#FA9600;
    font-size:9pt;
}

#news ul {
    list-style-type: none;



    padding: 0px;
    margin: 0px;
}

.pictures article{
    float:left;
    margin: 10px;
}
.pictures img {
    float:left;
    margin-right:10px;
}

#desc-educationtravel {
    margin-left:10px;
    text-align:left;
    font-family:"Avenir Next LT Pro", sans-serif;
    font-size: 10px;
}

#menu a:link{
    text-decoration:none;
    color:#FFFEFF;
}

#menu a:visited{text-decoration:none;
                color:#FFFEFF;
                }


.object_detail {
    margin: 0;
    color: #FFF !important;
}
.object_detail h5 {
    float:left;
    clear: left;
    width: 40%;
    font-weight: normal;
}
.object_detail p {
    float: right;
    width: 60%;
    margin: 0
}
.slider {
    height:320px;
    width:510x;
    margin: 0 auto 1em;
    
}
.slider a{
    display:block;
    
}

.curved {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  behavior:url(border-radius.htc);
}

.leftCol {
    float: left;
}

.rightCol {
    float: right;
}

.menu_superior {
    float: left;
    color: #AAA6A7;
    font-size:12px;
    padding:10px;
    padding-top:20px;
}

.botonera a {
    padding:2px 5px;   
    background-color: white;
    text-decoration:none;

}

.botonera a:hover {
    background-color: #F4AA00;
}

.odd {
    background-color:#FFF;
    height:112px;
           
}

.even {
    background-color:#E2E2E2;
    height:112px;
    
}

.odd1 {
    background-color:white;
}

.even1 {
    background-color:blue;
}


.clear {
    clear:both;
}

.mapa {
    padding-left:50px;
}

#tabs {
    z-index: 9999;
    list-style: none;
    margin:0;
    padding:0;
    overflow: hidden;
    width: 100%;
   
}
#tabs li {
    float:left;
    width:25%;
    margin:0;
    padding:0;
}
#tabs a {
    text-align:center;
    text-transform:uppercase;
    color:white;
    display:block;
    padding: 1em;
    text-decoration:none;
    background-position:bottom;
    width: 100%;
}

#tabs a:hover {
    padding-top: 2em;
    margin-top: -1em;   
    z-index: 99999;
    text-shadow: 1px 1px 1px #000;
}

#button-tab-norte {
    background-color:#F29300;
}
#button-tab-centro {
    background-color:#48912A;
}
#button-tab-patagonia {
    background-color:#0069B2;
}
#button-tab-cuyo {
    background-color:#BC121F;
}

#tab-norte {
    display:block;
}

#tab-centro {
    display:none;
}

#tab-litoral {
    display:none;
}

#tab-cuyo {
    display:none;
}

#tab-patagonia {
    display:none;
}

.article {
    float:left
}

.article a {
    text-decoration:none;
}

h5 {
    font-family:"Avenir Next LT Pro",sans-serif;
    margin:0px;
    font-size:10pt;
    color:#EEA200;
    text-transform:uppercase;
}

.thumbs-exc .article {
    margin:40px 0px 0px;
    width:50%;
}
.thumbnail {
    float:left;
}
.excurtion-data {
    margin: 0 0 0 10px;
}
.logo-region {
    margin:auto;
    
}
.logo-region img {
    height:200px;
    display:none;
    width:960px;
    
    border:0px;
}

#tab-norte-logo {
    display:block;
}

#tab-centro-logo {
    display:none;
}

#tab-cuyo-logo {
    display:none;
}

#tab-patagonia-logo {
    display:none;
}


#recomendations .leftCol {
    padding:0px;
    width:50%;
}

form .leftCol {
    padding:0px 0px 0px 0px;
    width:40%;
}

#content-contact-form {
    margin:45px 50px 50px 50px;
    width:100%;    
    height:auto;
}

#id_nombre {
    margin:5px 5px 5px 0px;
}

#id_apellido {
    margin:5px 5px 5px 0px;
}

#id_email {
    margin:5px 5px 5px 0px;
}

#id_nombre_excursion {
    margin:5px 5px 5px 0px;
}

#id_comentario {
    margin:5px 5px 5px 0px;
}


#id_fecha {
    margin:5px 5px 5px 0px;
}

#button-enviar {
    float:right;
    margin:15px 512px 0px 0px;
    background-color:#F5A700;
    border:0px;
}

#body form p {
    margin:0px;
    color:#43A8C6;
}

#body form h1 {
    color:#605E61;
    text-align:left;
    border-bottom:1px solid #ECECEC;
    width:77%;
    padding:0px 0px 15px 0px;
    margin:35px 0px 0px 10px;
    
}

#body form h5 {
    color:#AEAEAE;
    font-size:8pt;
    margin:0px;
}


#logo-recomendations {
    background:url(../img/img-recomendaciones.jpg) no-repeat ;    
    height:200px;
}

#recomendations .leftCol img {
    margin:40px 20px 50px 145px;
}

#recomendations h1 {
    color:#A2A2A2;
    font-size:26px;
    margin:35px 0px 0px 0px;
    width:100%;

    text-align:left;
}

#recomendations p {
    width:100%;
    margin:0px 0px 0px 15px;
}


#recomendations {
    padding:20px;
}

#feed {
    margin:10px 0px 0px 0px;
    text-decoration:none;
}

#feed img {
    border:0px;
    margin:0px;
}

#feed p {
    font-size:8pt;
}

#main {
  height:500px;
  
}

#body.main-content {
    background: #FFF url(../img/bg_body.png) repeat-x center bottom;
}

.main-content,
.main-content h1, 
.main-content p {
    color: #656567 !important;
}
.main-content h1 {
    border-bottom: 1px solid #EBEBEB;
    margin:0;
}
.calendar {
    font-size: 1.5em;
    margin: 1em auto;
    text-align: right;
}
.calendar th {
    text-align: center;
    padding: 0.5em;
}
.calendar td {
    padding: 0.5em 0.8em;
}

.error{
    margin: 3em 0 0;
}
.error p {
    margin: 3em;
}

}

table {
    margin:30px;
}

#feed_detail article {
    margin:0px 200px 50px 200px;
    padding:0px;
}

#feed_detail {
    height:600px;
    text-align:center;
}

#feed_detail h2 {
    color:white;
    margin:20px 0px 0px 180px;  
    font-size:20pt;
    width:60%;
    padding:0px 0px 20px 0px;
    text-align:center;
}

#feed_detail p {
    margin:10px;  
    font-size:10pt;
    width:85%;
    text-align:center;
}

#feed_detail img {
    margin:20px
}

#news h3 {
    font-size:11pt;
    margin:0px;
    padding:0px;
}

#news p {
    font-size:9pt;
    margin:0px;
    padding:0px;
}

#news .rightCol {
    width:60%;
    padding:7px 0px 0px 0px;
}

#news .leftCol {
    width:35%;
    padding:7px 0px 0px 10px;
}

#etravel #col_1,#ctravels #col_1,#cimblings #col_1,#tab-norte #col_1,#tab-cuyo #col_1,#tab-patagonia #col_1, #tab-centro #col_1{
  width:60%;
  margin:30px 0px 0px 5px;
}

#etravel #col_2,#ctravels #col_2,#cimblings #col_2,#tab-norte #col_2,#tab-cuyo #col_2,#tab-patagonia #col_2, #tab-centro #col_2 {
  width:35%;
  margin:5px 29px 15px 0px;
}

#etravel h2,#ctravels h2, #cimblings h2,#tab-norte h2,#tab-cuyo h2,#tab-patagonia h2, #tab-centro h2 {
  font-size:28pt;
}

#etravel p,#ctravels p, #cimblings p,#tab-norte p,#tab-cuyo p,#tab-patagonia p, #tab-centro p {
  font-size:13pt;
}

#etravel .article, #ctravels .article,#cimblings .article, #tab-norte .article,#tab-cuyo .article,#tab-patagonia .article, #tab-centro .article {
  text-align:center;
  margin-bottom:10px;
  
}

#etravel a img,#ctravels a img, #cimblings a img,#tab-norte a img,#tab-cuyo a img,#tab-patagonia a img, #tab-centro a img {
  padding:0px 10px 0px 10px;
  
}

#logo-nosotros img,#logo-etravel img,#logo-ctravel img,#logo-cimbling img {
    display:none;
    width:100%;
    height:200px;
    margin:auto;
}

#nosotros {
  width:940px;
  margin:auto;
    
}

#nosotros h2 {
  font-size:28pt;
  margin:25px 0px 10px 10px;
  font-weight:bold;
}

#nosotros p {
  font-size:17px;  
  margin:25px 25px 5px 25px;
}
.list {
    list-style:none;
    margin:40px 0px 0px 120px;
}

.element {
    float:left;
    width:200px;
}

#userphotos, #userlogos {
    text-align:center;
    width:100%;
    height:100px;
    margin-top:70px;
    
}

.current {
    background:#DDD4BE;
}

.month {
    margin:0px;
    border:1px solid;
    height:100px;
    padding:0px;
    width:200px;
}

.month li {
    font-size:8pt;
    margin:0px 0px 0px 5px;
}

.month ul li a {
    text-decoration:none;
    padding:0px;
    margin:0px;
}

.month ul{
    list-style:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}

.month_name {
    height:auto;
    margin:0px;
    padding:0px;
    border-bottom:1px solid;
    border-top:1px solid;
    height:25px;
    background:#48912A;
    margin-bottom:5px;
}

.month_entrys {
    height:60px;
    padding:0px;
    margin:0px;   
}

.month h3 {
    padding:0px;
    margin:0px; 
    color:#FFFFFF;  
    margin:0px 0px 0px 5px;
}

.year {
    font-size:30pt;
    font-weight:bold;
    padding:40px 0px 0px 0px;
}

#refugios {
    height:auto;
}

#refugios .leftCol {
    width:30%;
    margin:1px;
    padding:0px;
}

#refugios .rightCol {
    padding:0px;
}

#refugios img {
    margin:20px 5px 0px 7px;
}

#refugios p {
    margin:2px 0px 0px 10px;
}

#refugios h3 {
    font-size:18pt;
    margin-left:8px;
}

.ref_x,.ref_y {
    margin:0px;
    padding:0px 0px 5px 0px;
    border:1px solid;
}

.ref_y {
    background:#DDEE44;
}

.ref_x {
    margin:10px 0px 0px 0px;

}

#refugios h5 {
    margin-left:8px;
}

.logo {
    float:left;
    width:100px;  
}

.name_excurtion {
    color:black;
}

.secondary_data {
    margin:5px 0px 0px 0px;
}

#last_exc {
    background:#39465B;
    padding:2px;
    margin:2px 10px 0px 0px;
    height:263px;
    
}

#rss {
    position:absolute;
    right:3px;
    top:111px;
    width:153px;
    color:#C6C7C8;
    font-size:12px;
}


#ads {
    width:310px;
    height:160px;
    float:left;
    margin:5px 0px 0px 0px;
}

#videos {
    width:300px;
    height:250px;
    text-align:center;
    background:#333;
    margin:10px 0px 0px 10px;
}

#videos p {
    margin:10px 0px 0px 10px;
    font-size:15pt;
    color:white;
    font-weight:bold;
    line-height: 160pt;
}

#col_1 {
    width:320px;
    position:relative;
    float:left;

}

#col_2 {
    width:635px;
    position:relative;
    float:right;
}

#wrapper_body {
    background:#7F7F7F;   
}

#rss a img {
    padding:0px;
  
}

.detail_description {
      width:200px;
      margin:0px 0px 0px 40px;
}

.detail_description h2 {
    font-size:28pt;
    
}

#detail #col_1 {
    width:40%;
    height:auto;
    margin:10px 0px 0px 30px;
  
}

#detail #col_2 {
    width:40%;
    margin:10px;
    
}

#detail #col_2 img {
    width:350px;
    height:300px;
    margin:10px 10px 10px 0px;
    
}

.detail_description p {
    font-size:13pt;
}

.detail_image {
    width:100px;
}

.excurtion_detail_desc {
    margin: 0px 35px 0px 35px !important;
}

.excurtion_detail_img {
    margin:35px 0px 0px 20px !important;
}

#qrcode {
  height:auto;
  text-align:center;
  width:500px;
  margin-top:115px;
}

#qrcode img {
  margin:5px;
}

.link_qrcode {
  position:absolute;
  top:45px;
  right:0px;
  
}

#likebox {
  background:#333;
  width:300px;
  margin:10px 10px 10px 10px;
  
}

#etravel img,#ctravels img, #cimblings img, #tab-norte img, #tab-centro img, #tab-patagonia img, #tab-cuyo img {
  width:260px;
  height:200px;
  
}

.excurtion-data h5 {
  width:260px;
}