<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset=utf-8" />
    <title>404 - No encontrado</title>
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" 
        media="screen" />    
</head>
<body>
    <div id="wrapper_body">
        <div id="header">
            <a href="/"><h1 id="logo_sendero">Sendero Norte</h1></a> 
            <ul id="barra_superior">
                <li class="menu_superior">
                   <a href="/">INICIO</a>
                </li>
                <li class="menu_superior">
                    <a href="/contact">CONTACTO</a>
                </li>
            </ul>
            <ul id="nav">
                <li><a href="/">Nosotros<span></span> </a></li>
                <li><a href="/excurtions/norte">Excursiones<span></span> </a>
                    <ul>
                        <li><a href="/excurtions/centro">Centro</a></li>
                        <li><a href="/excurtions/cuyo">Cuyo</a></li>
                        <li><a href="/excurtions/patagonia">Patagonia</a></li>
                        <li><a href="/recomendations">Recomendaciones</a></li>
                        <li><a href="/calendar">Calendario</a></li>
                    </ul>
                </li>
                <li><a href="/educationtravel">Viajes Educativos<span></span> </a></li>
                <li><a href="/customizedtours">Viajes a Medida<span></span> </a></li>
                <li class="last"><a href="/cimblings">Escalada</a></li>
            </ul>
        </div>

    <div class="error" id="body">
    <h1>404 - Objeto no encontrado</h1>
    <p>Revise la dirección que ingresó en el navegador, o <a href="/" class="rewind">siga buscando excursiones</a></p>        
    </div>

    <div id="footer">
            <ul>
                <li>
                    <a href=""> Excursiones <span></span></a>
                </li>
                <li>
                    <a href=""> Recomendaciones para la salida <span></span></a>
                </li>
                <li>
                    <a href=""> Condiciones de Contratacion</a>
                </li>
            </ul>
            <p> "Sendero Norte" Copyright 2011 - Reservados todos los derechos - Diseño Web: Usina Creativa - Desarrollo Web: Ideas </p>
        </div>
    </div>
    </div>
</body>
