{% extends 'index.html' %}
{% load thumbnail %}
{% block title %}Detalle de {{ object.name}} {% endblock %}
{% block body_class %}
main-content
{% endblock %}
{% block content %}
<div id="detail">
    <article id="{{object.name|slugify}}" >
         <div>
            <h1 class="name_excurtion">{{object.name}}</h1>
            {% thumbnail object.photo 300x200 crop as thumb %}
            <img src="{{thumb.url}}" style="float:left; margin:0px 0px 0px 10px;width:50%;"/>
            <div style="float:right;margin:10px 0px 0px 0px;width:45%;">
            <strong>Descripcion de la Actividad:</strong><p>{{object.description}}</p>
            <strong>Duracion:</strong> <p>{{object.duration}} dias </p>
            </div>

            <div class="clear"></div>
            <div style="float:right; margin:0px 20px 0px 0px;">
            <a href="/excurtions/tab-{{object.region|lower}}">volver atras</a>
                {% if next_excurtion %}
                    <a href="{{next_excurtion.get_absolute_url}}">proxima excursion</a>                        
                {% else %}
                    <a href="/calendar">ir a calendario</a>                        
                {% endif %}
            </div>
        </div>
    </article>
</div>
{% endblock %}
