{% extends 'index.html' %}
{% load thumbnail qr_tags %}
{% block title %}Detalle de {{ object.name}} {% endblock %}
{% block body_class %}
main-content
{% endblock %}
{% block content %}
<div id="detail">
  <div id="col_2" class="detail_description excurtion_detail_desc">
    <h2>{{object.name}}</h2>
    <p> <strong>Descripción de la Actividad:</strong> {{object.description}}</p>
    <p><strong>Duración:</strong> {{object.duration}} días </p>
  </div>          
  <div id="col_1" class="detail_image excurtion_detail_img">
      {% if object.photopostexcurtion_set.all %}
	  {% for photo in object.photopostexcurtion_set.all %}
	      {% thumbnail photo.photo 500x300 crop as thumb %}
		  <img src="{{thumb.url}}" alt="{{object.name}} - {{photo}}"/>
	      {% endfor %}
	  {% else %}
	      <img src="/media/img/no-image.png" width="500px" height="300px" alt="{{object.name}}"/>
      {% endif %}
      <div id="qrcode">{% qr_from_text object.name "s" %}</div>
  </div>
   <div class="clear"></div>  
</div>
{% endblock %}
        
	    
            
        
        