{% extends 'escalada.html' %}

{% block title %} Viajes a Medida {% endblock %}
{% block logocimbling %}
<div id="logo-customizedtours"></div>
{% endblock %}
{% block articleone %}
    <div class="leftCol">
        <img src="/media/img/educationtravel/top.jpg" alt="Excursion 1" />
    </div>
{% endblock %}
{% block articletwo %}
    <div class="leftCol">
        <img src="/media/img/educationtravel/top.jpg" alt="Excursion 1" />
    </div>
{% endblock %}
{% block articlethree %}
    <div class="leftCol">
        <img src="/media/img/educationtravel/top.jpg" alt="Excursion 1" />
    </div>
{% endblock %}
{% block articlefour %}
    <div class="leftCol">
        <img src="/media/img/educationtravel/top.jpg" alt="Excursion 1" />
    </div>
    
{% endblock %}
{% block bodytext %}
        <h1> Viajes a Medida </h1>
        <p> Planificamos y desarrollamos viajes a medida de nuestros clientes en un proceso de interaccion y construccion conjunta de los mismos. </p>
        <p> Del mismo modo prestamos servicios de logistica a expediciones o grupos para realizar actividades dentro y fuera de nuestro pais  </p>
{% endblock %}
