{% extends 'index.html' %}
{% block title %} Viajes a Medida {% endblock %}
{% block javascript %}
   changeFoto = function () {
        imgs[(selected+1)%3].style.display = 'block';
        selected = selected + 1
        imgs[(selected+1)%3].style.display = 'none';
        imgs[(selected-1)%3].style.display = 'none';
        setTimeout('changeFoto()',2000);
    };

   logos = document.getElementById("logo-ctravel");
   imgs = logos.getElementsByTagName('img');
       
   for(var i=0;i<imgs.length;i++) {
        if(i==0) {
            imgs[i].style.display = "block";
        } else {
            imgs[i].style.display = "none";
        }
    }
    selected = 0;
    changeFoto()
        
{% endblock %}

{% block content %}
    <div id="logo-ctravel" >
       <img src="/media/img/logo-customizedtours.jpg"/> 
       <img src="/media/img/cabeceraescalada1.jpg"/>
       <img src="/media/img/cabeceraescalada3.jpg"/>
    </div> 
    
    <div id="travels" class="content-tab">
            <div class="thumbs-exc">
            {% for object in ctravels %}
                <div class="article">
                    <a href="{{object.id}}"><img src="{{object.photo.url}}" /></a>
                </div>
                {% if forloop.counter == 2 %}
                    <div class="clear"></div>
                {% endif %}
                {% if forloop.counter == 4 %}
                    <div class="clear"></div>
                {% endif %}

                
            {% endfor %}
            </div>
            <div class="desc-region">
<h2> Viajes a Medida </h2>
<p> Planificamos y desarrollamos viajes a medida de nuestros clientes en un proceso de interaccion y construccion conjunta de los mismos. </p>
<p> Del mismo modo prestamos servicios de logistica a expediciones o grupos para realizar actividades dentro y fuera de nuestro pais  </p>
            </div>
            <div class="clear"></div>
        </div>
{% endblock %}


