{% extends 'index.html' %}
{% block title %} Contacto {% endblock %}
{% block content %}
    <div class="content-tab">
     <form action="/contact/send" method="POST">{% csrf_token %}
           <h1> Contacto </h1>
           <div id="content-contact-form">
               <div class="leftCol">
                    <h5> {{form.nombre.label}} </h5>
                    {{ form.nombre }}
                    <h5>  {{form.apellido.label}} </h5>
                    {{ form.apellido }}
                    <h5>   {{form.email.label}}</h5>
                    {{ form.email }}
                    <br />
                    <a href="/next-excurtions/feed/" id="feed">
                    <img src="/media/img/feed.png" />
                    <p> Recibir informacion de Sendero Norte </p>
                    </a>
              </div>
              <div class="leftCol">
               <h5>{{ form.nombre_excursion.label }}</h5>
               {{ form.nombre_excursion }}
               <h5>{{ form.fecha.label }}</h5>
               {{ form.fecha }}
               <h5>{{ form.comentario.label }}</h5>           
               {{ form.comentario }}
               </div>
               <div id="foto-contacto"></div> 
               <div class="button"><input id="button-enviar" type="submit" value="Enviar" /></div> 
           </div>
           

     </form>
    </div>
{% endblock %}

