{% extends 'index.html' %}
{% load thumbnail markup %}
{% block javascript %}
	    $(window).load(function() {
	    //carrusel de fotos
            var imgs = $("#logo-etravel img");
            t = 0;
            function carrusel_educativos() {
                t = t % imgs.length;
                imgs.not(imgs[t]).hide();
                $(imgs[t]).show();
                t += 1;
                window.setTimeout(carrusel_educativos, 4000);
            }
            carrusel_educativos();
	    });
{% endblock %}
{% block title %} Viajes Educativos {% endblock %}
{% block body_class %}
main-content
{% endblock %}
{% block content %}
    <div id="logo-etravel">
       <img src="/media/img/educativos/educativos01.jpg" /> 
       <img src="/media/img/educativos/educativos02.jpg" />
       <img src="/media/img/educativos/educativos03.jpg" />
    </div> 
    <div id="etravel">
        <div id="col_1">
        {% for object in etravels %}
            <div class="article">
                {% thumbnail object.photo 104x104 crop as thumb %}
                     {% if thumb %}
                        <a href="/excurtion_detail/{{object.id}}/etravel" class="thumbnail"><img src="{{thumb.url}}"/></a>
                     {% else %}
                        <a href="/excurtion_detail/{{object.id}}/etravel" ><img src="/media/img/no-image.png"/></a>
                     {% endif %} 
                <div class="excurtion-data">
                    <h5> Nombre </h5>
                    <span> {{object.name|truncatewords:3}}</span>
                    <h5> Duración </h5>
                    <span>{{object.duration}}</span>
                </div>
                <div class="clear"></div>
            </div>
            {% if forloop.counter == 2 %}
                <div class="clear"></div>
            {% endif %}
            {% if forloop.counter == 4 %}
                <div class="clear"></div>
            {% endif %}
        {% endfor %}
        </div>
        <div id="col_2">
            <h2> Viajes Educativos </h2>
            <p> Bajo el lema "Educando en Ambientes Naturales" ofrecemos destinos acordes a las distintas necesidades manteniendo un estricto nivel de seguridad, orden y motivación para docentes y alumnos. </p>
            <p> Proponiendo el contacto con la naturaleza mediante la observación y actividades interpretativas, y con el objecto de concientizar en temáticas concernientes a problemas ambientales, flora, fauna y otros. Desarrollamos salidas incluyendo contenidos curriculares de distintos niveles de enseñanza. </p>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}       

