{% extends 'index.html' %}
{% load thumbnail markup %}
{% block title %} Actividades por Region {% endblock %}
{% block javascript %} 
    var target2 = '#'+'{{ selected }}';

    $(target2).show();
    $(target2+"-logo").show();
    $(".content-tab").not(target2).hide();
    $(".logo-region").not(target2+"-logo").hide();
    
    $("#tabs a").click(function(){
        var target = $(this).attr('href');
        $(target).show();
        $(target+"-logo").show();
        $(".content-tab").not(target).hide();
        $(".logo-region").not(target+"-logo").hide();
        return false;
    }); 
    
    $('.banners').nivoSlider({
                effect: 'fade',
                controlNav:false
    });
    
{% endblock %}
{% block body_class %}
main-content
{% endblock %}
{% block content %}
<div id="main">
    
    {% block logocimbling %}
    <div id="tab-norte-logo" class="banners logo-region">
       <img src="/media/img/regions/norte/norte01.jpg"/> 
       <img src="/media/img/regions/norte/norte02.jpg"/>
       <img src="/media/img/regions/norte/norte03.jpg"/>
    </div>
    <div id="tab-patagonia-logo" class="banners logo-region">
       <img src="/media/img/regions/sur/sur01.jpg"/> 
       <img src="/media/img/regions/sur/sur02.jpg"/>
       <img src="/media/img/regions/sur/sur02.jpg"/>
    </div>
    <div id="tab-cuyo-logo" class="banners logo-region">
       <img src="/media/img/regions/cuyo/cuyo01.jpg"/> 
       <img src="/media/img/regions/cuyo/cuyo02.jpg"/>
       <img src="/media/img/regions/cuyo/cuyo03.jpg"/>
    </div>
    <div id="tab-centro-logo" class="banners logo-region">
       <img src="/media/img/regions/centro/centro01.jpg"/> 
       <img src="/media/img/regions/centro/centro02.jpg"/>
       <img src="/media/img/regions/centro/centro03.jpg"/>
    </div>
    {% endblock%}
    <ul id="tabs">
        <li><a href="#tab-norte" id="button-tab-norte">Norte</a></li>
        <li><a href="#tab-patagonia" id="button-tab-patagonia">Patagonia</a></li>
        <li><a href="#tab-centro" id="button-tab-centro">Centro</a></li>
        <li><a href="#tab-cuyo" id="button-tab-cuyo">Cuyo</a></li>
    </ul>
    {% regroup object_list by region as region_list %}
    {% for region in region_list %}
    <div id="tab-{{region.grouper.slug}}" class="content-tab">
            <div class="thumbs-exc">
            {% for object in region.list %}
                <div class="article">
                        {% thumbnail object.photo 104x104 crop as thumb %}
                        <a href="{{object.get_absolute_url}}" class="thumbnail"><img src="{{thumb.url}}"/></a>
                    <div class="excurtion-data">
                        <h5> Nombre </h5>
                        <span> {{object.name|truncatewords:5}}</span>
                        <h5> Duracion </h5>
                        <span>{{object.duration}}</span>
                    </div>
                    <div class="clear"></div>
                </div>
                {% if forloop.counter == 2 %}
                    <div class="clear"></div>
                {% endif %}
                {% if forloop.counter == 4 %}
                    <div class="clear"></div>
                {% endif %}

                
            {% endfor %}
            </div>
            <div class="desc-region">
                <h2>{{region.grouper}}</h2>
                {{region.grouper.description|markdown}}
            </div>
            <div class="clear"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}   
