{% load i18n %}
<!DOCTYPE html>
<html>
<meta charset="utf8">
<head>
<link rel="stylesheet" type="text/css" href="/media/css/style.css" media="screen" />
<title>{% block title %}{% endblock %} - Sendero Norte</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>
  <script>
        $(document).ready = (function () {
        alert("hola");
        $("#button-{{incoming_one.name|slugify}}").click(function() {
            $(".incoming_one").hide("slide", { direction: "left" }, 1000);
        });
        $("#button-{{incoming_two.name|slugify}}").click = function() {
            $("#{{incoming_one.name|slugify}}").css('display','none');
            $("#{{incoming_two.name|slugify}}").css('display','block');
            $("#{{incoming_three.name|slugify}}").css('display','none');                        
        };
        $("#button-{{incoming_three.name|slugify}}").click = function() {
            $("#{{incoming_three.name|slugify}}").css('display','block');
        };

    });

  </script>
</head>
<body>
    <div id="wrapper_body">
        <div id="header">

            <div id="logo_sendero"></div> 

                <div id="barra_superior">
                    <div class="menu_superior">
                        INICIO
                    </div>
                    <div class="menu_superior">
                        CONTACTO
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="logo_mountain"></div>

                <div class="menu">
                <div id="menu_i"></div>    <div id="menu_d"></div>
                    <ul>
                        <li><a href="http://localhost:8000/">Nosotros</a></li>
                        <li>
                        <a href="http://localhost:8000/excurtions">Excursiones</a>
                        <ul>
                        <li><p><a href="#">Cordoba</a></p></li>
                        <li><p><a href="#">Cuyo</a></p></li>
                        <li><p><a href="#">Patagonia</a></p></li>
                        <li><p><a href="http://localhost:8000/recomendations">Recomendaciones</a></p></li>
                        <li><p><a href="#">Calendario</a></p></li>                     
                        </ul>
                        
                        </li>
                        <li><a href="http://localhost:8000/educationtravel">Viajes Educativos</a></li>
                        <li><a href="http://localhost:8000/customizedtours">Viajes a Medida</a></li>
                        <li><a href="http://localhost:8000/cimblings">Escalada</a></li>
                    </ul>
                </div><!-- fin Menu -->
        </div>

    <!-- END OF HEADER SECTION -->
        <div id="body">
        {% block content %}
            <section id="main">
            <div class="leftCol">
                <div id="zonas">
                    <div id="logo_zonas"> </div>
                    <div class="region">
                            <div id="norte"></div>
                            <div id="cuyo"></div>
                            <div id="centro"></div>
                            <div id="litoral"></div>
                            <div id="buenosaires"></div>
                            <div id="patagonia"></div>                                                            
                     </div>
                     <div> 
                        <h3> Excursiones en el pais </h3> 
                        <p> Haga click sobre las regiones para obtener informacion de las excursiones disponibles en cada una.</p>
                     </div>
                     
                </div> 
            </div>
            <div class="rightCol">
                <div id="news_exc"> 
                    <article id="{{incoming_one.name|slugify}}" class="incoming_one">
                    
                        <img src="{{incoming_one.foto_carrusel_uno.url_540x340}}" alt="{{incoming_one.name}}" id="foto-{{incoming_one.name|slugify}}"  />
                        <div>
                        <div class="botonera">
                            <span class="curved" id="button-{{incoming_one.name|slugify}}">1</span>
                            <span class="curved" id="button-{{incoming_two.name|slugify}}">2</span>
                            <span class="curved" id="button-{{incoming_three.name|slugify}}">3</span>
                            <div class="clear"></div>
                        </div>
                        <h1> Proximas Excursiones </h1>
                        </div>
                        
                        <h3>{{incoming_one.name}}</h3>
                        <p>{{incoming_one.summary|truncatewords:8}}</p>
                        <p>Fecha de salida: 
                            {{incoming_one.next_date }} -
                        Lugar: 
                        {{ incoming_one.place }} -
                        Horario: 
                        {{ incoming_one.time }}</p>
    
                    </article>
                    <article id="{{incoming_two.name|slugify}}" class="incoming_two">
                        <img src="{{incoming_two.foto_carrusel_uno.url_540x340}}" alt="{{incoming_two.name}}" id="foto-{{incoming_two.name|slugify}}"  />
                        <div>
                        <div class="botonera">
                            <span class="curved" id="button-{{incoming_one.name|slugify}}">1</span>
                            <span class="curved" id="button-{{incoming_two.name|slugify}}">2</span>
                            <span class="curved" id="button-{{incoming_three.name|slugify}}">3</span>
                            <div class="clear"></div>
                        </div>
                        <h1> Proximas Excursiones </h1>
                        </div>
                        
                        <h3>{{incoming_two.name}}</h3>
                        <p>{{incoming_two.summary|truncatewords:8}}</p>
                        <p>Fecha de salida: 
                            {{incoming_two.next_date }} -
                        Lugar: 
                        {{ incoming_two.place }} -
                        Horario: 
                        {{ incoming_two.time }}</p>
    
                    </article>
                    <article id="{{incoming_three.name|slugify}}" class="incoming_three">
                    
                        <img src="{{incoming_three.foto_carrusel_uno.url_540x340}}" alt="{{incoming_three.name}}" id="foto-{{incoming_three.name|slugify}}"  />
                        <div>
                        <div class="botonera">
                            <span class="curved" id="button-{{incoming_one.name|slugify}}">1</span>
                            <span class="curved" id="button-{{incoming_two.name|slugify}}">2</span>
                            <span class="curved" id="button-{{incoming_three.name|slugify}}">3</span>
                            <div class="clear"></div>
                        </div>
                        <h1> Proximas Excursiones </h1>
                        </div>
                        
                        <h3>{{incoming_three.name}}</h3>
                        <p>{{incoming_three.summary|truncatewords:8}}</p>
                        <p>Fecha de salida: 
                            {{incoming_three.next_date }} -
                        Lugar: 
                        {{ incoming_three.place }} -
                        Horario: 
                        {{ incoming_three.time }}</p>
    
                    </article>


                </div> 
            </div>
            <div class="clear"></div>
            </section>
            <section id="secondary">
            <div class="leftCol">
                <div id="ref_gig">
                </div>
                <div id="last_exc">
                    <h1 id="logo_lastexc">{% trans 'Últimas Excursiones' %}</h1>
                    {% for object in recent_excurtions %}
                    <div class="last_exc_thumb">
                        <article class="excurtion">
                            <img src="{{object.thumb_photo_post_excurtion}}" alt="{{object.name}}" id="thumb-{{object.name|slugify}}" />
                            <h3>{{object.name}}</h3>
                            <p>{{object.intro_last_exc|truncatewords:6}}</p>
                        </article>
                    </div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>

            <div class="rightCol">
                <div id="news">
                    <div id="logo_news">
                    </div>
                    <div>
                    <ul>
                    {% for object in news %}
                        <article class="{% cycle 'odd' 'even' %}">
                        
                            <div class="leftCol">
                                <img src="{{object.image.url}}" alt="{{object.name}}" id="foto-{{object.name|slugify}}" />
                            </div>
                            <div class="rightCol">
                                <h3>{{object.title}}</h3>
                                <p>{{object.summary|truncatewords:9}}</p>
                                <a href="{{object.url}}"> [Ver mas] </a>
                            </div>
                            <div class="clear"></div>
                        </article>
                   
                    {% endfor %}
                    </ul>
                    </div>
                </div> 
            </div>
            <div class="clear"></div>
            </section>
        </div>
        
        <div id="publicity">
            <img id="logo_publicity" src="/media/img/ultimas-excursiones.jpg" /> 
        </div>
        {% endblock %}
        </div>
        <!-- END OF BODY SECTION -->
        <div id="footer">
            <img id="logo_footer" src="/media/img/footerycaminante.png" />
        </div>
        <!-- END OF FOOTER SECTION -->
    </div>
</body>
</html>	
