<!DOCTYPE html>
<meta charset="utf8">
<head>
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" media="screen" />    
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/media/css/all-ie.css" />
    <![endif]-->


    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="ie-6.0.css" />
    <![endif]-->

    <!--[if lt IE 6]>
    <link rel="stylesheet" type="text/css" href="ie-5.0+5.5.css" />
    <![endif]-->
    
  <title>{% block title %}Bienvenido a {% endblock %} Sendero Norte</title>
  <meta name="description" content="Sendero norte, excursiones y escalada">
  <link type="text/css" href="/media/js/dialog/css/ui-lightness/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />	
  <script type="text/javascript" src="/media/js/jquery-1.5.min.js"></script>
  <script type="text/javascript" src="/media/js/dialog/js/jquery-ui-1.8.10.custom.min.js"></script>

  <script>
        $(window).ready(function() {
            var news_exc = document.getElementById("news_exc");
            var excs = news_exc.getElementsByTagName('article');
            for(var i=0;i<excs.length;i++) {
                if(i==0) {
                    excs[i].style.display = "block";
                    
                } else {
                    excs[i].style.display = "none";
                    
                }
            }

            $(".botonera a").click(function(){
                target = $(this).attr('href');
                $(target).show('slow');
                $('#news_exc article').not(target).hide('fast');
                return false;
            });            
            $("#news_exc article a").click(function(){
                var target = $(this).attr('href');
                var url_dir = '/excurtion_detail/';
                $.ajax({
                    url: url_dir.concat(parseInt(target)).concat("/").concat('excurtion'),
                    dataType:'html',
                    context: document.body,
                    success: function(data){
                        $(data).dialog({
                            'modal':true,
                            'resizable':false,
                            'draggable':false,
                            'width':'600',
                            'height':'550'
                        });
                        $(data).dialog('open');
                        }
                });
                return false;
            });
            
            $("#zonas a").hover(
                function () {
                    document.getElementById('centro-over').style.display = 'block';
                },
                function () {
                    document.getElementById('centro-over').style.display = 'none';
                }
                )

        })
        $(window).load(function () {
            {% block javascript %}
            
            {% endblock %}            
        })         
        
  </script>
  
</head>
<body>
    <div id="wrapper_body">
        <div id="header">
            <a href="/"><h1 id="logo_sendero">Sendero Norte</h1></a> 
            <ul id="barra_superior">
                <li class="menu_superior">
                   <a href="/">INICIO</a>
                </li>
                <li class="menu_superior">
                    <a href="/contact">CONTACTO</a>
                </li>
            </ul>
            <ul id="nav">
                <li><a href="/">Nosotros<span></span> </a></li>
                <li><a href="/excurtions/norte">Excursiones<span></span> </a>
                    <ul>
                        <li><a href="/excurtions/centro">Centro</a></li>
                        <li><a href="/excurtions/cuyo">Cuyo</a></li>
                        <li><a href="/excurtions/patagonia">Patagonia</a></li>
                        <li><a href="/recomendations">Recomendaciones</a></li>
                        <!--li><a href="/calendar">Calendario</a></li-->
                    </ul>
                </li>
                <li><a href="/educationtravel">Viajes Educativos<span></span> </a></li>
                <li><a href="/customizedtours">Viajes a Medida<span></span> </a></li>
                <li class="last"><a href="/cimblings">Escalada</a></li>
            </ul>
        </div>

        <!-- END OF HEADER SECTION -->
        <div id="body">
        {% block content %}
            <div id="main">
                <div id="zonas" class="leftCol">
                    <h1>Zonas</h1>
                    <ul id="mapa">
                        <li id="norte"><a href="#"></a></li>
                        <li id="cuyo"><a href="#"></a></li>
                        <li id="centro"><a href="#"></a></li>
                        <li id="litoral"><a href="#"></a></li>
                        <li id="buenosaires"><a href="#"></a></li>
                        <li id="patagonia"><a href="#"></a></li>                                                            
                     </ul>
                     <h3> Excursiones en el pais </h3> 
                     <p> Haga click sobre las regiones para obtener informacion de las excursiones disponibles en cada una.</p>

                </div>
                <div id="news_exc" class="rightCol">
                    <div id="header-new-exc">
                        <div class="botonera">
                            {% for object in incoming %}
                            <a href="#{{object.name|slugify}}" class="curved">{{forloop.counter}}</a>
                            {% endfor %}
                            <div class="clear"></div>
                        </div>
                        <h1> Proximas Excursiones </h1>
                    </div>

                    {% for object in incoming %}
                    <article id="{{object.name|slugify}}" class="object">
                        <a href="{{object.id}}" id="{{object.id}}"><img src="{{object.foto_carrusel_uno.url_540x340}}" alt="{{object.name}}" id="foto-{{object.name|slugify}}"/></a>
                        <div class="description">
                            <h3>{{object.name}}</h3>
                            <p>{{object.summary|truncatewords:8}}</p>
                            <p>Fecha de salida: 
                                {{object.next_date }} -
                            Lugar: 
                            {{ object.place }} -
                            Horario: 
                            {{ object.time }}</p>
                            <h4 id="calendario"><a href="">Calendario</a></h4>
                        </div>
                    </article>
                    {% endfor %}
                    
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="secondary">
                <div class="leftCol">
                    <div id="ref_gig"></div>
                    <div id="last_exc">
                        <h1 id="logo_lastexc"> Ultimas Excursiones </h1>
                        <div id="thumbs_last_exc">
                            {% for object in recent_excurtions %}
                            <article class="excurtion">
                                <img src="{{object.thumb_photo_post_excurtion}}" alt="{{object.name}}" id="thumb-{{object.name|slugify}}" />
                                <h3>{{object.name}}</h3>
                                <p>{{object.intro_last_exc|truncatewords:6}}</p>
                            </article>
                            {% endfor %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div id="news" class="rightCol">
                    <h1 id="logo_news"></h1>
                    {% for object in news %}
                    <article class="{% cycle 'odd' 'even' %}">
                        <div class="leftCol">
                            <img src="{{object.image.url}}" alt="{{object.name}}" id="foto-{{object.name|slugify}}" />
                        </div>
                        <div class="rightCol">
                            <h3>{{object.title}}</h3>
                            <p>{{object.summary|truncatewords:9}}</p>
                            <a href="{{object.url}}"> [Ver mas] </a>
                        </div>
                        <div class="clear"></div>
                    </article>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </div>
            <div id="publicity"></div>
            {% endblock %}
        </div>
        <!-- END OF BODY SECTION -->
        <div id="footer">
            <ul>
                <li>
                    <a href=""> Excursiones <span></span></a>
                </li>
                <li>
                    <a href=""> Recomendaciones para la salida <span></span></a>
                </li>
                <li>
                    <a href=""> Condiciones de Contratacion</a>
                </li>
            </ul>
            <p> "Sendero Norte" Copyright 2011 - Reservados todos los derechos - Diseño Web: Usina Creativa - Desarrollo Web: Ideas </p>
        </div>
        <!-- END OF FOOTER SECTION -->
    </div>
</body>
</html>	
