{% extends 'index.html' %}
{% block title %} Nosotros {% endblock %}
{% block javascript %}
    $(".userphoto a").click(function(){
                var target = $(this).attr('href');
                $.ajax({
                    url: target,
                    success: function(data){
                        $(data).dialog({
                            'modal':true,
                            'draggable':false,
                            'width':'600',
                            'height':'550'
                        });
                     },
                });

                return false;
                
            });
{% endblock %}
{% block body_class %}
main-content
{% endblock %}
{% block content %}
    <div id="logo-nosotros" class="banners">
       <img src="/media/img/nosotros/nosotros01.jpg" /> 
       <img src="/media/img/nosotros/nosotros02.jpg" /> 
       <img src="/media/img/nosotros/nosotros03.jpg" /> 
    </div> 
    <div id="nosotros" class="content-tab">
        <div class="desc-region">
            <h2> Nosotros </h2>
            <p>Somos una empresa de jóvenes profesionales dedicados al diseño, planificación y desarrollo de viajes en ambientes naturales.
Nuestras actividades se desarrollan en diferentes regiones  del país y tienen por filosofía una relación cercana con la naturaleza.
De manera permanente nuestro staff de guías recibe capacitación en técnicas de bajo impacto ambiental, primeros auxilios y rescates en zonas agrestes, orientación e interpretación ambiental.</p>
            <p>Nuestros guías están habilitados por la Administración de Parques Nacionales y se encuentran inscriptos en el Registro de Prestadores de Turismo Alternativo de la Provincia de Córdoba.</p>
        </div>
        <div id="userphotos">
        <ul class="list">
        {% for object in staff %}
        <li class="element userphoto">
            {% if object.get_profile.photo %}
            <a href="/excurtion_detail/{{object.id}}/user" id="{{object.id}}" >
                <img src="{{object.get_profile.photo.url}}" />
            </a>
            <p> {{ object.username }} </p>
            {% endif %}
        </li>    
        {% endfor %}    
        </ul>
        </div>
        <div id="userlogos">
        <ul class="list">
        {% for object in staff %}
        <li class="element userlogo">
            <img src="{{object.get_profile.logo.url}}" />
        </li>    
        {% endfor %}    
        </ul>
        </div>

    </div>
{% endblock %}       
