{% extends 'index.html' %}
{% load thumbnail qr_tags %}
{% block title %}Detalle{% endblock %}
{% block javascript %}
    $('.slider').nivoSlider({
                effect: 'fade',
                controlNav:false
    });

{% endblock %}
{% block body_class %}
main-content
{% endblock %}
{% block content %}
<div id="detail">
   {% if type_object == "excurtion" %}
        <div id="col_1" class="detail_image excurtion_detail_img">
            {% if object.photopostexcurtion_set.all %}
                {% for photo in object.photopostexcurtion_set.all %}
                    {% thumbnail photo.photo 500x300 crop as thumb %}
                        <img src="{{thumb.url}}" alt="{{object.name}} - {{photo}}"/>
                    {% endfor %}
                {% else %}
                    {% thumbnail object.image 500x300 crop as thumb %}
                        <img src="{{thumb.url}}" alt="{{object.name}} - {{photo}}"/>
            {% endif %}
	    <div id="qrcode">{% qr_from_text object.name "s" %}</div>
        </div>
        <div id="col_2" class="detail_description excurtion_detail_desc">
	    <h2>{{object.name}}</h2>
            <p>{{object.description}}</p>
            <p><strong>Duracion:</strong> {{object.duration}} </p>
            <p><strong>Fecha:</strong> {{object.date}} </p>
            <p><strong>Horario:</strong> {{object.time}} </p>
            <p><strong>Lugar:</strong> {{object.place}}</p>
            
        </div>
        <div class="clear"></div>
    {% endif %}
    {% if type_object == "new" %}
        <div>
            {% thumbnail photo.photo 500x300 crop as thumb %}
            <img src="{{thumb.url}}" />
            <h2>{{object.title}}</h2>
            <p>{{object.description}}</p>
        </div>
     
    {% endif %}
    {% if type_object == "user" %}
        <div>
            {% thumbnail photo.photo 500x300 crop as thumb %}
            <img src="{{thumb.url}}"/>
            <h2>{{object.user.username}}</h2>
            <p> Nombre </p> <p>{{object.user.first_name}}</p>
            <p> Apellido </p> <p> {{ object.user.last_name }}</p>            
            <p> Quién soy </p> <p> {{ object.description }}</p>
        </div>
        
    {% endif %}
    {% if type_object == "ctravel" or type_object == "etravel" %}
        {% thumbnail object.photo 104x104 crop as thumb %}
	    
	<div id="col_1" class="detail_description">
            <h2>{{object.name}}</h2>
            <p><strong>Duración:</strong> {{object.duration}}</p>
            <p><strong>Descripción:</strong> {{ object.summary }}</p>            
	    <div id="qrcode">{% qr_from_text object.name "s" %}</div>
	</div>
	<div id="col_2" class="detail_image">
	    {% if thumb %}
		<img src="{{thumb.url}}"/>
	    {% else %}
		<img src="/media/img/no-image.png"/>
	    {% endif %}
	</div>
	<div class="clear"></div>	
    {% endif %}
    {% if type_object == "cimbling" %}
          {% thumbnail photo.photo 500x300 crop as thumb %}
	  <div id="col_1" class="detail_description">
            <h2>{{object.cimbling_type}}</h2>
            <p>{{object.summary}}</p>
	    <div id="qrcode">{% qr_from_text object.summary "s" %}</div>
	  </div>
	  <div id="col_2" class="detail_image">
	    {% if thumb %}
		<img src="{{thumb.url}}"/>
	    {% else %}
		<img src="/media/img/no-image.png"/>
	    {% endif %}
	</div>
	<div class="clear"></div>	
    {% endif %}
</div>
{% endblock %}
