{% load thumbnail %}
<div id="dialog">
    <article id="{{object.name|slugify}}" class="object_detail">
    {% if type_object == "excurtion" %}
        <div class="slider">
        {% for photo in object.photopostexcurtion_set.all %}
            {% thumbnail photo.photo 700x320 crop as thumb %}
            <img src="{{thumb.url}}" alt="{{object.name}} - {{photo}}"/>
        {% endfor %}
        </div>
        <div>
            <h2>{{object.name}}</h2>
            <p>{{object.description}}</p>
            <h5><strong>Duracion:</strong> {{object.duration}} </h5>
            <h5><strong>Fecha:</strong> {{object.date}} </h5>
            <h5><strong>Horario:</strong> {{object.time}} </h5>
            <h5><strong>Lugar:</strong> {{object.place}}</h5>
            
        </div>
    {% else %}
    {% if type_object == "new" %}
        <div>
            {% thumbnail photo.photo 500x300 crop as thumb %}
            <img src="{{thumb.url}}"/>
            <h2>{{object.title}}</h2>
            <h3 > Descripcion </h3> <p>{{object.description}}</p>
        </div>
     
    {% else %}
    {% endif %}        
    {% endif %}
    </article>
</div>
