<!DOCTYPE html>
<meta charset="utf8">
<head>
  <link rel="stylesheet" type="text/css" href="/media/css/mailing.css" media="screen" />    
  <title>Mailing List Sendero Norte </title>
  <meta name="description" content="Sendero norte, excursiones y escalada ">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script>
  
  a = document.getElementById('mailing');
  a.onclick = function () {
    window.location = "/sendmailing/"  
  }
  </script>
</head>
<body>
    <div id="wrapper_body">
        <header>
            <a href="/"><h1 id="logo_sendero">Sendero Norte</h1></a> 
        </header>

        <div id="body">
            <div> <h1> Novedades </h1> <input type="button" id="mailing" /></div>
            {% block msg %}
                {{ msg }}
            {% endblock %}
            {% for o in objs %}
            <div class="{% cycle 'odd' 'even' %} novedad">
                <img class="img" src="{{o.photopostexcurtion_set.all.0.photo.url}}" /> 
                <h1 class="title">{{ o.name }}</h1>
                <p> {{ o.description }} </p>
                <div class="link-sitio"> 
                <div class="{% cycle 'nar' 'az' %} sitio-link">
                    <a href="http://www.senderonorte.com.ar">VISITE NUESTRO SITIO</a>
                </div>
                </div>
            </div>
            {% endfor %}  
        </div>
        <!-- END OF BODY SECTION -->
        <footer>
            <div id="caminante"><img src="/media/img/caminante.png"></div>
            <p>BOLETIN DE NOVEDADES</p>
        </footer>
        <!-- END OF FOOTER SECTION -->
    </div>
    <input type="button" id="enviarmailing" />
</body>
</html>	
