<!DOCTYPE html>
<meta charset="utf8">
<head>
  <link rel="stylesheet" type="text/css" href="/media/css/mailing.css" media="screen" />    
  <title>Mailing List Sendero Norte </title>
  <meta name="description" content="Sendero norte, excursiones y escalada ">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <div id="wrapper_body">
        <header>
            <a href="/"><h1 id="logo_sendero">Sendero Norte</h1></a> 
        </header>

        <div id="body">
        {% for o in objs %}
        <div class="{% cycle 'odd' 'even' %}">
            <img src="{{o.photopostexcurtion_set.all.0.photo|thumbnail:'540x340'}}" /> 
            <h1 class="title">{{ o.name }}</h1>
            <p> {{ o.description }}
            </p>
        <div class="sitio"><a href="http://www.senderonorte.com.ar">VISITE NUESTRO SITIO</a></div>
        </div>

        </div>
        <!-- END OF BODY SECTION -->
        <footer>
            <div id="caminante"><img src="/media/css/caminante.png"></div>
            <p>BOLETIN DE NOVEDADES</p>
        </footer>
        <!-- END OF FOOTER SECTION -->
    </div>
</body>
</html>	
