<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
<title>:: SENDERO NORTE :: BOLETIN DE NOVEDADES</title>
</head>
    <body>    
    <div id="wrapper_body" style="width:935px;">
        <header style="display:block;position:relative;height:179px;">
            <ul style="list-style:none;padding:115px 0px 0px 750px;position:absolute;">
            <li >
            <p style="font-size:12pt;"><a href="/mailing/issues/" style="text-decoration:none;color:#EAEAEA;">  volver atras </a></p>
            </li>
            </ul>

            <img src="http://www.senderonorte.com.ar/media/img/topboletin.jpg" style="width:935px;" />
        </header>

        <div id="body" style="background:#FFFFFF;">
        <table style="border:none;" frame="void" rules="groups" bordercolor=white>
            {% for o in excurtions %}
            <tr style="background:#262626;">
                <td>
                    <img style="width:450px;" src="http://www.senderonorte.com.ar{{ o.photopostexcurtion_set.all.0.photo.url }}" /> 
                </div>
                </td>
                <td style="color:#FFF;padding:10px;">
                    <h1 style="color:white;text-transform:uppercase;font-size:14pt;">{{ o.name|truncatewords:5}}</h1>
                    <p style="font-size:11pt;text-align:left;"> {{ o.description }} </p>
                </div>
                </td>
            </tr>
            <tr style="height:50px;background:#262626;border-bottom:1px solid white;">
            <td >
            </td>
            <td style="margin:auto;text-align:center;">
            <div style="height:20px;width:60%;background:#F29400;margin:0px 0px 0px 100px;vertical-align:middle;padding:7px;">
                    <a href="http://www.senderonorte.com.ar" style="text-decoration:none;text-transform:uppercase;color:white;font-size:14pt;">VISITE NUESTRO SITIO</a>
                    </div>
            </td>
            </tr>
            {% endfor %}  
            {% for o in news %}
            <tr style="background:#E3E3E5;">
                <td>
                    <img src="http://www.senderonorte.com.ar{{ o.image.url }}" style="width:450px;"/> 
                </td>
                <td style="padding:10px;">
                    <h1 style="text-transform:uppercase;font-size:14pt;color:#AABB77;">{{ o.title|truncatewords:5}}</h1>
                    <p style="font-size:11pt;"> {{ o.description }} </p>
                </td>
            </tr>
            <tr style="height:50px;background:#E3E3E5; border-bottom:1px solid white;">
                <td >
                </td>
                <td style="margin:auto;text-align:center;">
                    <div style="height:20px;width:60%;background:#F29400;margin:0px 0px 0px 100px;vertical-align:middle;padding:7px;">
                    <a href="http://www.senderonorte.com.ar" style="text-decoration:none;text-transform:uppercase;color:black;font-size:14pt;">VISITE NUESTRO SITIO</a>
                    </div>
                </td>
                
            </tr>
            {% endfor %}
        </table>
        </div>
        <!-- END OF BODY SECTION -->
        <footer style="display:block;height:164px;position: relative;width:935px;">
             <p style="padding:0px 0px 0px 325px;font-size:15pt;overflow:hidden;position:absolute;">BOLETIN DE NOVEDADES</p>
            <img src="http://www.senderonorte.com.ar/media/img/footerycaminante.png" style="padding:-85px 0px 0px 0px;overflow:hidden;position:absolute;width:937px;" />
        </footer>
        <!-- END OF FOOTER SECTION -->
    </div>
</body>
</html>
