{% extends 'index.html' %}

{% block title %} Recomendaciones {% endblock %}
{% block content %}
<div id="body-recomendations">
    <div id="logo-recomendations"></div>

    <div class="content-recomendations">
        <div class="leftCol">
            <article>
                <h1> Recomendaciones </h1>
                <p> Al caminar en ambientes naturales estamos expuestos a factores climaticos como el frio, el viento, el agua y el sol. Por lo tanto 
                debemos contar con una vestimenta que nos proteja, abrigue y mantenga sus propiedades por un tiempo prolongado. En Sendero Norte hemos confeccionado un documento con las recomendaciones a tener en cuenta a la hora de realizar las excursiones. </p>
                <p> Haga click en el boton inferior para descargar el archivo a su ordenador </p>
            </article>
            <article>
                <h1> Condiciones de Contratacion </h1>
                <p> Al caminar en ambientes naturales estamos expuestos a factores climaticos como el frio, el viento, el agua y el sol. Por lo tanto 
                debemos contar con una vestimenta que nos proteja, abrigue y mantenga sus propiedades por un tiempo prolongado. En Sendero Norte hemos confeccionado un documento con las recomendaciones a tener en cuenta a la hora de realizar las excursiones. </p>
                <p> Haga click en el boton inferior para descargar el archivo a su ordenador </p>
            </article>
        </div>
        <div class="rightCol">
        <article>
            <img src="../media/img/boton-recomendaciones.png" />
        </article>
        <article>
            <img src="../media/img/boton-recomendaciones.png" />
        </article>

        </div>
       
    </div>
</div>
{% endblock %}



