{% extends 'index.html' %}

{% block title %} Refugios {% endblock %}
{% block body_class %}
main-content
{% endblock %}
{% block content %}
    <div id="refugios">
    <div class="ref_x">
        <div >
            <div>
            <div class="leftCol">
                <h3>Refugio Villa Amelita</h3>
                <p>Está ubicado en la base del Macizo Los Gigantes a 1800 msnm.</p>
                <p><b>Distancia</b>: a 30 km. de la localidad de Tanti. </p>
            </div>
            <div class="rigthCol">
                <img src="/media/img/refugios/refugio-inf.png" />
            </div>
            <div class="clear"></div>
            </div>
            <div>
            <h5>Cómo llegar: </h5>
            <ul>
            <li><p><b>En vehículo propio</b>: desde Villa Carlos Paz pasando por Tanti a 30 kilómetros de ésta última, recorriendo la ruta 14 que pasa por la localidad de El durazno. Se debe desviar hacia la izquierda por el camino que va hacia el Puesto de montaña “Casas Nuevas”, al llegar al final del camino se debe dejar el vehículo en el puesto “La Rotonda” y a unos 100 mts se encuentra el refugio Villa Amelita. El camino desde Tanti es de ripio y se encuentra en buen estado.</p></li>
            <li><p><b>En transporte Interurbano</b>: Empresa Sarmiento. Salida desde Córdoba a las 8 horas, pasa por Carlos Paz a las 8:45 horas, llega a La Garita (parada de colectivo).</p> </li>
            <li><p><b>Regreso</b>: pasa por La Garita a las 12 horas. a excepción de los días domingos que pasa por La Garita a las 17 horas.</p></li>
            <li><p><b>Frecuencia</b>: diaria.</p></li>
            <li><p><b>Precio</b>: $23 desde Córdoba.</p> </li>
            </ul>
            <h5>Servicios del refugio:</h5>
            <p><b>Comodidades</b>: comedor para 30 personas, 2 habitaciones con cuchetas y colchones con capacidad para 30 personas, baño, cocina equipada, iluminación con sol de noche y velas. Gastronomía: desayuno, almuerzo, merienda, cena.</p>
            <p> <b>Actividades</b>: (Para realizarlas, avisar y/o contratar con anticipación)</p>
                <ul>
                    <li>Rappel </li>
                    <li>Tirolesa </li>
                    <li>Escalada </li>
                </ul>
            <p><b>Trekkings: </b></p>
                <ul>
                    <li>Cerro de la Cruz</li>
                    <li>Cerro Mogote</li>
                    <li>Valle de Los Lisos</li>
                    <li>Río subterráneo </li>
                    <li>Sendero Norte y más… </li>
                </ul>
                </div>
        </div>
    </div>
    <div class="ref_x">
        <div >
            <div>
            <div class="leftCol">
                <h3>Refugio Rafael Juárez</h3>
                <p>Está ubicado en el valle conocido como El Brasilero, en el Macizo Los Gigantes a 2200 msnm.</p>
                <p><b>Distancia</b>: a 30 km. de la localidad de Tanti. Más dos horas y media de caminata.</p>
            </div>
            <div class="rightCol">
                <img src="/media/img/refugios/refugio-sup.png" />
           </div>
           <div class="clear">
           </div>
           </div>
           <div>
            <h5>Cómo llegar:</h5>
            
                <ul>
                    <li><p><b>Sendero Normal </b>(al Cerro de La Cruz): duración de dos horas. Partiendo desde el refugio Villa Amelita hacia el cerro de la cruz, desviándose por la Cuesta de Giménez, Paso del Viento, Valle de los Refugios. Luego de recorrer el predio del refugio del Club Andino Córdoba, a 500 mts se accede al refugio Rafael Juárez. <p></li>
                    <li><p><b>Sendero Norte</b>: con una duración de dos horas y media. Saliendo desde el puesto Bazán accediendo por la zona Norte del Macizo, cuesta del caracol, vallecito, pasando por el mirador se ingresa al Valle del Brasilero para acceder al refugio Rafael Juárez. </p></li>
                </ul>
            <h5>Servicios del refugio:</h5>
            <p><b>Comodidades</b>: comedor para 20 personas, 1 habitación con cuchetas y colchones con capacidad para 20 personas, cocina equipada, iluminación con sol de noche y velas. </p>
            <p><b>Gastronomía</b>: desayuno, almuerzo, merienda, cena.</p>
            <p><b>Actividades</b>: (Para realizarlas, avisar y/o contratar con anticipación)</p>
                <ul>
                    <li>Rappel </li>
                    <li>Tirolesa </li>
                    <li>Escalada</li>
                </ul>
            <p><b>Trekkings</b>: </p>
                <ul>
                    <li>Mirador del valle de Nippur. </li>
                    <li>Cerro de la Cruz</li>
                    <li>Cerro Mogote</li>
                    <li>Los Cajones</li>
                    <li>Valle de Los Lisos</li>
                    <li>Río subterráneo </li>
                    <li>Sendero Norte y más…</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
